body {
  margin:0px;
  background-color:rgba(107, 107, 107, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:86px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:86px;
  color:#999999;
}
#u921 {
  position:absolute;
  left:2px;
  top:35px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:101px;
  top:21px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u922_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u922.mouseOver {
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u924 {
  position:absolute;
  left:298px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u926 {
  position:absolute;
  left:443px;
  top:30px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u926_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u926.mouseOver {
}
#u926_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u926.mouseDown {
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u928 {
  position:absolute;
  left:586px;
  top:30px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u928_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u928.mouseOver {
}
#u928_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u928.mouseDown {
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1065px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u930 {
  position:absolute;
  left:0px;
  top:86px;
  width:1200px;
  height:1065px;
}
#u931 {
  position:absolute;
  left:2px;
  top:524px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u932 {
  position:absolute;
  left:560px;
  top:170px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u934 {
  position:absolute;
  left:304px;
  top:219px;
  width:593px;
  height:20px;
  font-size:14px;
  line-height:20px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u936 {
  position:absolute;
  left:201px;
  top:292px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u938 {
  position:absolute;
  left:201px;
  top:579px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:201px;
  top:746px;
  width:57px;
  height:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:217px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:0px;
  top:934px;
  width:1200px;
  height:217px;
}
#u944 {
  position:absolute;
  left:2px;
  top:100px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:455px;
  top:1118px;
  width:277px;
  height:16px;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:151px;
  top:970px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u948.mouseOver {
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:151px;
  top:999px;
  width:66px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u950_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u950.mouseOver {
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u952 {
  position:absolute;
  left:151px;
  top:1025px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u952_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u952.mouseOver {
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u954 {
  position:absolute;
  left:151px;
  top:1051px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u954_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u954.mouseOver {
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:271px;
  top:970px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u959 {
  position:absolute;
  left:271px;
  top:999px;
  width:41px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:271px;
  top:1025px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:271px;
  top:1051px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:738px;
  top:970px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u968 {
  position:absolute;
  left:860px;
  top:970px;
  width:131px;
  height:16px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:860px;
  top:1041px;
  width:178px;
  height:16px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u972 {
  position:absolute;
  left:860px;
  top:1003px;
  width:125px;
  height:16px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u974 {
  position:absolute;
  left:860px;
  top:1074px;
  width:176px;
  height:16px;
  color:#FFFFFF;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:331px;
  height:21px;
}
#u976p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:323px;
  height:1px;
}
#u976p000_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:334px;
  height:22px;
}
#u976p001 {
  position:absolute;
  left:310px;
  top:-10px;
  width:20px;
  height:20px;
}
#u976p001_img {
  position:absolute;
  left:0px;
  top:-11px;
  width:30px;
  height:42px;
}
#u976.compound {
  width:0px;
  height:0px;
}
#u976 {
  position:absolute;
  left:954px;
  top:363px;
  width:321px;
  height:1px;
}
#u977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u978 {
  position:absolute;
  left:1285px;
  top:356px;
  width:271px;
  height:16px;
  color:#FFFFFF;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u980 {
  position:absolute;
  left:195px;
  top:320px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u980_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u980_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u981 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u982 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u980_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u980_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u983 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u983_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u983.mouseDown {
}
#u984 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u985 {
  position:absolute;
  left:502px;
  top:320px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u985_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u985_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u986 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u987 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u985_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u985_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u988_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u988.mouseDown {
}
#u989 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:809px;
  top:320px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u990_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u991 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u992 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u990_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u990_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u993_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u993.mouseDown {
}
#u994 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:195px;
  top:434px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u995_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u995_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u996 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u997 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u995_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u995_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u998 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u998_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u998.mouseDown {
}
#u999 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:502px;
  top:434px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1000_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1001 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1002 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1000_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1003_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1003.mouseDown {
}
#u1004 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:809px;
  top:434px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1005_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1005_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1006 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1007 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1005_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1005_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1008 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1008_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1008.mouseDown {
}
#u1009 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:195px;
  top:608px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1010_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1010_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1011 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1012 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1010_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1010_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1013 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1013_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1013.mouseDown {
}
#u1014 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1015 {
  position:absolute;
  left:502px;
  top:608px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1015_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1015_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1016 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1017 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1015_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1015_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1018_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1018.mouseDown {
}
#u1019 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1020 {
  position:absolute;
  left:195px;
  top:772px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1020_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1021 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1022 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1020_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1020_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1023 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1023_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1023.mouseDown {
}
#u1024 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1025 {
  position:absolute;
  left:501px;
  top:772px;
  width:199px;
  height:88px;
  overflow:hidden;
}
#u1025_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1026 {
  position:absolute;
  left:6px;
  top:7px;
  width:186px;
  height:73px;
  color:#999999;
}
#u1027 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
#u1025_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:88px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1025_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1028 {
  position:absolute;
  left:6px;
  top:8px;
  width:186px;
  height:73px;
  color:#FFFFFF;
}
#u1028_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:73px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1028.mouseDown {
}
#u1029 {
  position:absolute;
  left:2px;
  top:28px;
  width:182px;
  word-wrap:break-word;
}
