body {
  margin:0px;
  background-color:rgba(107, 107, 107, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:0px;
  top:86px;
  width:1200px;
  height:1308px;
}
#u629 {
  position:absolute;
  left:2px;
  top:646px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 5px 5px rgba(174, 174, 174, 0.349019607843137);
  color:#999999;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:86px;
  color:#999999;
}
#u631 {
  position:absolute;
  left:2px;
  top:35px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:86px;
  height:10px;
}
#u632 {
  position:absolute;
  left:341px;
  top:81px;
  width:81px;
  height:5px;
}
#u633 {
  position:absolute;
  left:2px;
  top:-6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u635 {
  position:absolute;
  left:101px;
  top:21px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u635_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u635.mouseOver {
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u637 {
  position:absolute;
  left:245px;
  top:30px;
  width:76px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u637_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u637.mouseOver {
}
#u637_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u637.mouseDown {
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u639 {
  position:absolute;
  left:365px;
  top:29px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u639_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u639.mouseOver {
}
#u639_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u639.mouseDown {
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u641 {
  position:absolute;
  left:832px;
  top:30px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u641_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u641.mouseOver {
}
#u641_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u641.mouseDown {
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u644 {
  position:absolute;
  left:923px;
  top:30px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u644_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u644.mouseOver {
}
#u644_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u644.mouseDown {
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u646 {
  position:absolute;
  left:956px;
  top:30px;
  width:20px;
  height:20px;
}
#u647 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u649_img {
  position:absolute;
  left:-10px;
  top:-8px;
  width:134px;
  height:181px;
}
#u649 {
  position:absolute;
  left:894px;
  top:64px;
  width:114px;
  height:161px;
  color:#666666;
}
#u650 {
  position:absolute;
  left:2px;
  top:78px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u652 {
  position:absolute;
  left:923px;
  top:102px;
  width:57px;
  height:16px;
  color:#666666;
}
#u652_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u652.mouseOver {
}
#u652_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u652.mouseDown {
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:2px;
}
#u654 {
  position:absolute;
  left:913px;
  top:128px;
  width:77px;
  height:1px;
  color:#666666;
}
#u654_img.mouseOver {
}
#u654.mouseOver {
}
#u654_img.mouseDown {
}
#u654.mouseDown {
}
#u655 {
  position:absolute;
  left:2px;
  top:-8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u657 {
  position:absolute;
  left:923px;
  top:146px;
  width:57px;
  height:16px;
  color:#666666;
}
#u657_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u657.mouseOver {
}
#u657_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u657.mouseDown {
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:2px;
}
#u659 {
  position:absolute;
  left:913px;
  top:172px;
  width:77px;
  height:1px;
  color:#666666;
}
#u659_img.mouseOver {
}
#u659.mouseOver {
}
#u659_img.mouseDown {
}
#u659.mouseDown {
}
#u660 {
  position:absolute;
  left:2px;
  top:-8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u662 {
  position:absolute;
  left:923px;
  top:189px;
  width:57px;
  height:16px;
  color:#666666;
}
#u662_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u662.mouseOver {
}
#u662_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u662.mouseDown {
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u664 {
  position:absolute;
  left:1021px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u664_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u664.mouseOver {
}
#u664_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u664.mouseDown {
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u667_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:1012px;
  height:16px;
}
#u667 {
  position:absolute;
  left:101px;
  top:1247px;
  width:999px;
  height:3px;
}
#u668 {
  position:absolute;
  left:2px;
  top:-6px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  position:absolute;
  left:446px;
  top:1285px;
  width:277px;
  height:16px;
}
#u670 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:512px;
  top:1331px;
  width:57px;
  height:16px;
}
#u672_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672.mouseOver {
}
#u673 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u674_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u674 {
  position:absolute;
  left:608px;
  top:1331px;
  width:2px;
  height:16px;
}
#u675 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:648px;
  top:1331px;
  width:57px;
  height:16px;
}
#u676_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676.mouseOver {
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:785px;
  top:1331px;
  width:57px;
  height:16px;
}
#u678_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678.mouseOver {
}
#u679 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u680_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u680 {
  position:absolute;
  left:744px;
  top:1331px;
  width:2px;
  height:16px;
}
#u681 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:19px;
}
#u682 {
  position:absolute;
  left:471px;
  top:1331px;
  width:2px;
  height:16px;
}
#u683 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:375px;
  top:1331px;
  width:57px;
  height:16px;
}
#u684_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684.mouseOver {
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u686 {
  position:absolute;
  left:123px;
  top:134px;
  width:107px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u688 {
  position:absolute;
  left:111px;
  top:130px;
  width:59px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u689 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u691 {
  position:absolute;
  left:441px;
  top:218px;
  width:65px;
  height:65px;
  color:#666666;
}
#u692 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u694_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:6px;
}
#u694 {
  position:absolute;
  left:527px;
  top:249px;
  width:19px;
  height:3px;
}
#u695 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:6px;
}
#u696 {
  position:absolute;
  left:527px;
  top:249px;
  width:19px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u697 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u698 {
  position:absolute;
  left:567px;
  top:218px;
  width:65px;
  height:65px;
  color:#666666;
}
#u699 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u700 {
  position:absolute;
  left:694px;
  top:218px;
  width:65px;
  height:65px;
  color:#666666;
}
#u701 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  word-wrap:break-word;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u703_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:6px;
}
#u703 {
  position:absolute;
  left:654px;
  top:249px;
  width:19px;
  height:3px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:6px;
}
#u705 {
  position:absolute;
  left:654px;
  top:249px;
  width:19px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u706 {
  position:absolute;
  left:2px;
  top:-6px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u707 {
  position:absolute;
  left:459px;
  top:293px;
  width:29px;
  height:16px;
  color:#666666;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u709 {
  position:absolute;
  left:579px;
  top:293px;
  width:43px;
  height:16px;
  color:#666666;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u711 {
  position:absolute;
  left:705px;
  top:293px;
  width:43px;
  height:16px;
  color:#666666;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u713 {
  position:absolute;
  left:123px;
  top:345px;
  width:952px;
  height:40px;
  font-size:14px;
  line-height:20px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:734px;
}
#u715 {
  position:absolute;
  left:111px;
  top:537px;
  width:979px;
  height:734px;
}
#u716 {
  position:absolute;
  left:2px;
  top:359px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:24px;
}
#u717 {
  position:absolute;
  left:579px;
  top:586px;
  width:42px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u718 {
  position:absolute;
  left:2px;
  top:4px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:-2px;
  top:704px;
  width:1202px;
  height:371px;
  overflow:hidden;
}
#u719_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:371px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u719_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:371px;
}
#u720 {
  position:absolute;
  left:295px;
  top:0px;
  width:615px;
  height:371px;
}
#u721 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u722 {
  position:absolute;
  left:1000px;
  top:0px;
  width:615px;
  height:372px;
  opacity:0.2;
}
#u723 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u724 {
  position:absolute;
  left:-413px;
  top:0px;
  width:615px;
  height:372px;
  opacity:0.2;
}
#u725 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:371px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u719_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u726 {
  position:absolute;
  left:295px;
  top:0px;
  width:615px;
  height:372px;
}
#u727 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:371px;
}
#u728 {
  position:absolute;
  left:-414px;
  top:0px;
  width:615px;
  height:371px;
  opacity:0.2;
}
#u729 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:370px;
}
#u730 {
  position:absolute;
  left:1000px;
  top:1px;
  width:615px;
  height:370px;
  opacity:0.2;
}
#u731 {
  position:absolute;
  left:2px;
  top:177px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:371px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u719_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:370px;
}
#u732 {
  position:absolute;
  left:295px;
  top:0px;
  width:615px;
  height:370px;
}
#u733 {
  position:absolute;
  left:2px;
  top:177px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u734 {
  position:absolute;
  left:-415px;
  top:0px;
  width:615px;
  height:372px;
  opacity:0.2;
}
#u735 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u736 {
  position:absolute;
  left:999px;
  top:0px;
  width:615px;
  height:372px;
  opacity:0.2;
}
#u737 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1202px;
  height:371px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u719_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:372px;
}
#u738 {
  position:absolute;
  left:295px;
  top:0px;
  width:615px;
  height:372px;
}
#u739 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:370px;
}
#u740 {
  position:absolute;
  left:-413px;
  top:1px;
  width:615px;
  height:370px;
  opacity:0.2;
}
#u741 {
  position:absolute;
  left:2px;
  top:177px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:371px;
}
#u742 {
  position:absolute;
  left:1001px;
  top:1px;
  width:615px;
  height:371px;
  opacity:0.2;
}
#u743 {
  position:absolute;
  left:2px;
  top:178px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u744 {
  position:absolute;
  left:559px;
  top:552px;
  width:81px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u746 {
  position:absolute;
  left:471px;
  top:1151px;
  width:258px;
  height:31px;
  overflow:hidden;
}
#u746_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u746_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u747 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u748 {
  position:absolute;
  left:104px;
  top:11px;
  width:23px;
  height:7px;
}
#u749 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u750 {
  position:absolute;
  left:132px;
  top:11px;
  width:23px;
  height:7px;
}
#u751 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u752 {
  position:absolute;
  left:160px;
  top:11px;
  width:23px;
  height:7px;
}
#u753 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u754 {
  position:absolute;
  left:76px;
  top:11px;
  width:23px;
  height:7px;
}
#u755 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u746_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u757 {
  position:absolute;
  left:104px;
  top:11px;
  width:23px;
  height:7px;
}
#u758 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:132px;
  top:11px;
  width:23px;
  height:7px;
}
#u760 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:160px;
  top:11px;
  width:23px;
  height:7px;
}
#u762 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  position:absolute;
  left:76px;
  top:11px;
  width:23px;
  height:7px;
}
#u764 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u746_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:104px;
  top:11px;
  width:23px;
  height:7px;
}
#u767 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:132px;
  top:11px;
  width:23px;
  height:7px;
}
#u769 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:160px;
  top:11px;
  width:23px;
  height:7px;
}
#u771 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:76px;
  top:11px;
  width:23px;
  height:7px;
}
#u773 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:31px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u746_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u775 {
  position:absolute;
  left:104px;
  top:11px;
  width:23px;
  height:7px;
}
#u776 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:132px;
  top:11px;
  width:23px;
  height:7px;
}
#u778 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:160px;
  top:11px;
  width:23px;
  height:7px;
}
#u780 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:7px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u781 {
  position:absolute;
  left:76px;
  top:11px;
  width:23px;
  height:7px;
}
#u782 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  height:60px;
}
#u783 {
  position:absolute;
  left:123px;
  top:406px;
  width:952px;
  height:60px;
  font-size:14px;
  line-height:20px;
}
#u784 {
  position:absolute;
  left:0px;
  top:0px;
  width:952px;
  word-wrap:break-word;
}
